# ---- Python 编译文件 ----
__pycache__/

# ---- 日志与缓存 ----
*.log
*.tmp

# ---- 数据与输出 ----
data/
model_zoo/
ovtr/weights/
ovtr/results/
ovtr/data_vis/

# ---- 模型权重 ----
*.pth
*.pt
*.ckpt
*.onnx
*.txt

# ---- IDE 配置 ----
.vscode/

# ---- 临时文件 ----
*.zip
*.tar
*.tar.gz

# ---- 图像/视频缓存 ----
*.png
*.jpg
*.jpeg
*.mp4